include mixins/table

list(
  list="list"
  panel="false"
)
  +table()
    thead
      tr
        block headings
    tbody
      tr(
        ng-repeat="row in list.items track by row.id"
      )
        block columns
  list-footer
